/* YOUR CUSTOM STYLES */

.navbar
{
    font-weight: 300;

    padding-right: 1rem !important;
}
.navbar form input
{
    height: 1rem; 
    margin: 0 5px 1px 8px;
}
.navbar .navbar-brand
{
    overflow: visible; 

    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
            align-self: flex-start;
}
.navbar .breadcrumb
{
    font-size: 15px; 
    font-weight: 300;

    margin: 0;
    padding-left: 1rem;

    background-color: inherit;
}
.navbar .navbar-toggler
{
    border-width: 0;
}
.navbar.double-nav,
.navbar .nav-flex-icons
{
            flex-direction: row; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
}
@media (max-width: 992px)
{
    .navbar .container
    {
        width: 100%;
    }
    .navbar .container .navbar-toggler-right
    {
        right: 0;
    }
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link.disabled,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link.disabled:hover
{
    color: rgba(255, 255, 255, .5);
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link.disabled,
.navbar.navbar-light .navbar-nav .nav-item .nav-link.disabled:hover
{
    color: rgba(0, 0, 0, .5);
}
.navbar .nav-item .nav-link
{
    display: block;
}
.navbar .nav-item .nav-link.disabled:active
{
    pointer-events: none;
}
.navbar .nav-item .nav-link .fa
{
    padding-right: 3px; 
    padding-left: 3px;
}
@media (max-width: 992px)
{
    .navbar .nav-item .nav-link
    {
        padding-right: 6px; 
        padding-left: 6px;
    }
}
.navbar .dropdown-menu
{
    position: absolute !important;

    margin-top: 0;
}
.navbar .dropdown-menu a
{
    font-size: .9375rem;
    font-weight: 300;

    padding: 10px;

    color: #000 !important;
}
.navbar .dropdown-menu a:hover
{
    color: #fff !important;
}
@media (max-width: 600px)
{
    .navbar .dropdown-menu.dropdown-menu-right
    {
        right: auto !important;
    }
}
.navbar.navbar-light .navbar-toggler-icon
{
    cursor: pointer; 

    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 32 32\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(0, 0, 0, 0.9)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 8h24M4 16h24M4 24h24\'/%3E%3C/svg%3E');
}
.navbar.navbar-light .breadcrumb .nav-item .nav-link,
.navbar.navbar-light .navbar-nav .nav-item .nav-link
{
    -webkit-transition: .35s;
            transition: .35s; 

    color: #000;
}
.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover
{
    color: rgba(0, 0, 0, .75);
}
.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link,
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link
{
    background-color: rgba(0, 0, 0, .1);
}
.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link:hover
{
    color: #000;
}
.navbar.navbar-light .navbar-toggler
{
    color: #000;
}
.navbar.navbar-light form input[type=text]
{
    border-bottom: 1px solid #000;
}
.navbar.navbar-light form input[type=text]:focus:not([readonly])
{
    border-color: #4285f4;
}
.navbar.navbar-light form .form-control
{
    color: #000;
}
.navbar.navbar-light form .form-control::-webkit-input-placeholder
{
    font-weight: 300; 

    color: #000;
}
.navbar.navbar-light form .form-control:-moz-placeholder
{
    font-weight: 300; 

    color: #000;
}
.navbar.navbar-light form .form-control::-moz-placeholder
{
    font-weight: 300; 

    color: #000;
}
.navbar.navbar-light form .form-control::-ms-placeholder
{
    font-weight: 300; 

    color: #000;
}
.navbar.navbar-light form .form-control::-webkit-input-placeholder
{
    font-weight: 300; 

    color: #000;
}
.navbar.navbar-light form .form-control::-moz-placeholder
{
    font-weight: 300; 

    color: #000;
}
.navbar.navbar-light form .form-control:-ms-input-placeholder
{
    font-weight: 300; 

    color: #000;
}
.navbar.navbar-light form .form-control::placeholder
{
    font-weight: 300; 

    color: #000;
}
.navbar.navbar-dark .navbar-toggler-icon
{
    cursor: pointer; 

    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 32 32\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(255, 255, 255, 0.9)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 8h24M4 16h24M4 24h24\'/%3E%3C/svg%3E');
}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link
{
    -webkit-transition: .35s;
            transition: .35s; 

    color: #fff;
}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover
{
    color: rgba(255, 255, 255, .75);
}
.navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link
{
    background-color: rgba(255, 255, 255, .1);
}
.navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link:hover,
.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link:hover
{
    color: #fff;
}
.navbar.navbar-dark .navbar-toggler
{
    color: #fff;
}
.navbar.navbar-dark form input[type=text]
{
    border-bottom: 1px solid #fff;
}
.navbar.navbar-dark form input[type=text]:focus:not([readonly])
{
    border-color: #4285f4;
}
.navbar.navbar-dark form .form-control
{
    color: #fff;
}
.navbar.navbar-dark form .form-control::-webkit-input-placeholder
{
    font-weight: 300; 

    color: #fff;
}
.navbar.navbar-dark form .form-control:-moz-placeholder
{
    font-weight: 300; 

    color: #fff;
}
.navbar.navbar-dark form .form-control::-moz-placeholder
{
    font-weight: 300; 

    color: #fff;
}
.navbar.navbar-dark form .form-control::-ms-placeholder
{
    font-weight: 300; 

    color: #fff;
}
.navbar.navbar-dark form .form-control::-webkit-input-placeholder
{
    font-weight: 300; 

    color: #fff;
}
.navbar.navbar-dark form .form-control::-moz-placeholder
{
    font-weight: 300; 

    color: #fff;
}
.navbar.navbar-dark form .form-control:-ms-input-placeholder
{
    font-weight: 300; 

    color: #fff;
}
.navbar.navbar-dark form .form-control::placeholder
{
    font-weight: 300; 

    color: #fff;
}
.navbar.scrolling-navbar
{
    z-index: 100;
}
@media (min-width: 600px)
{
    .navbar.scrolling-navbar
    {
        padding-top: 12px;
        padding-bottom: 12px; 

        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
                transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar.scrolling-navbar .navbar-nav > li
    {
        -webkit-transition-duration: 1s;
                transition-duration: 1s;
    }
    .navbar.scrolling-navbar.top-nav-collapse
    {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}


.dropdown .dropdown-menu
{
    padding: .5rem;
}
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:active
{
    background-color: #4285f4;
}
.dropdown .dropdown-menu.dropdown-danger .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-danger .dropdown-item:active
{
    background-color: #c00;
}
.dropdown .dropdown-menu.dropdown-default .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-default .dropdown-item:active
{
    background-color: #2bbbad;
}
.dropdown .dropdown-menu.dropdown-secondary .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-secondary .dropdown-item:active
{
    background-color: #a6c;
}
.dropdown .dropdown-menu.dropdown-success .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-success .dropdown-item:active
{
    background-color: #00c851;
}
.dropdown .dropdown-menu.dropdown-info .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-info .dropdown-item:active
{
    background-color: #33b5e5;
}
.dropdown .dropdown-menu.dropdown-warning .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-warning .dropdown-item:active
{
    background-color: #fb3;
}
.dropdown .dropdown-menu.dropdown-dark .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-dark .dropdown-item:active
{
    background-color: #2e2e2e;
}
.dropdown .dropdown-menu.dropdown-ins .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-ins .dropdown-item:active
{
    background-color: #2e5e86;
}
.dropdown .dropdown-menu .dropdown-item
{
    font-size: .9rem; 

    margin-left: 0;
    padding: .5rem;
}
.dropdown .dropdown-menu .dropdown-item.disabled
{
    color: #868e96;
}
.dropdown .dropdown-menu .dropdown-item.disabled:hover,
.dropdown .dropdown-menu .dropdown-item.disabled:active,
.dropdown .dropdown-menu .dropdown-item.disabled:focus
{
    color: #868e96 !important;
    background-color: transparent !important; 
    -webkit-box-shadow: none;
            box-shadow: none;
}
.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:active
{
    -webkit-transition: all .1s linear;
            transition: all .1s linear;

    border-radius: 2px;
    background-color: #4285f4;
}

.dropdown-menu-right
{
    right: 0;
    left: auto !important;
}

.dropdown-content
{
    position: absolute;
    z-index: 999;

    display: none;
    overflow-y: auto;

    min-width: 100px;
    max-height: 650px;
    margin: 0;

    opacity: 0;
    background-color: #fff;

    will-change: width, height;
}
.dropdown-content li
{
    line-height: 1.3rem;

    clear: both;

    width: 100%;

    cursor: pointer;
    text-align: left;
    text-transform: none; 

    color: #000;
}
.dropdown-content li:hover,
.dropdown-content li.active
{
    background-color: #eee;
}
.dropdown-content li > a,
.dropdown-content li > span
{
    font-size: .9rem;

    display: block;

    padding: .5rem; 

    color: #4285f4;
}
.dropdown-content li > a > i
{
    line-height: inherit; 

    height: inherit;
}

.colorful-select .dropdown-content
{
    padding: .5rem;
}
.colorful-select .dropdown-content li.active span
{
    color: #fff !important;
}
.colorful-select .dropdown-content li.active span [type='checkbox']:checked + label:before
{
    border-color: transparent white white transparent;
}
.colorful-select .dropdown-content li a:hover,
.colorful-select .dropdown-content li span:hover
{
    -webkit-transition: all .1s linear;
            transition: all .1s linear;

    color: #fff !important;
    border-radius: 2px;
}
.colorful-select .dropdown-content li a:hover [type='checkbox'] + label:before,
.colorful-select .dropdown-content li span:hover [type='checkbox'] + label:before
{
    border-color: white;
}
.colorful-select .dropdown-content li a:hover [type='checkbox']:checked + label:before,
.colorful-select .dropdown-content li span:hover [type='checkbox']:checked + label:before
{
    border-color: transparent white white transparent;
}
.colorful-select .dropdown-content li.disabled.active span,
.colorful-select .dropdown-content li:disabled.active span,
.colorful-select .dropdown-content li.optgroup.active span
{
    cursor: default; 

    color: rgba(0, 0, 0, .3) !important;
    border-bottom-color: rgba(0, 0, 0, .3);
}
.colorful-select .dropdown-content li.disabled a:hover,
.colorful-select .dropdown-content li.disabled span:hover,
.colorful-select .dropdown-content li:disabled a:hover,
.colorful-select .dropdown-content li:disabled span:hover,
.colorful-select .dropdown-content li.optgroup a:hover,
.colorful-select .dropdown-content li.optgroup span:hover
{
    cursor: default;

    color: rgba(0, 0, 0, .3) !important;
    border-bottom-color: rgba(0, 0, 0, .3);
    background-color: white !important;
}
.colorful-select .dropdown-content li.disabled label,
.colorful-select .dropdown-content li:disabled label,
.colorful-select .dropdown-content li.optgroup label
{
    cursor: default;
}

.dropdown-primary .dropdown-content li.active,
.dropdown-primary .dropdown-content li a,
.dropdown-primary .dropdown-content li span:hover
{
    background-color: #4285f4;
}

.dropdown-primary .search-wrap input:focus
{
    border-bottom: 1px solid #4285f4;
    -webkit-box-shadow: 0 1px 0 0 #4285f4;
            box-shadow: 0 1px 0 0 #4285f4;
}

.dropdown-danger .dropdown-content li.active,
.dropdown-danger .dropdown-content li a,
.dropdown-danger .dropdown-content li span:hover
{
    background-color: #c00;
}

.dropdown-danger .search-wrap input:focus
{
    border-bottom: 1px solid #c00;
    -webkit-box-shadow: 0 1px 0 0 #c00;
            box-shadow: 0 1px 0 0 #c00;
}

.dropdown-default .dropdown-content li.active,
.dropdown-default .dropdown-content li a,
.dropdown-default .dropdown-content li span:hover
{
    background-color: #2bbbad;
}

.dropdown-default .search-wrap input:focus
{
    border-bottom: 1px solid #2bbbad;
    -webkit-box-shadow: 0 1px 0 0 #2bbbad;
            box-shadow: 0 1px 0 0 #2bbbad;
}

.dropdown-secondary .dropdown-content li.active,
.dropdown-secondary .dropdown-content li a,
.dropdown-secondary .dropdown-content li span:hover
{
    background-color: #a6c;
}

.dropdown-secondary .search-wrap input:focus
{
    border-bottom: 1px solid #a6c;
    -webkit-box-shadow: 0 1px 0 0 #a6c;
            box-shadow: 0 1px 0 0 #a6c;
}

.dropdown-success .dropdown-content li.active,
.dropdown-success .dropdown-content li a,
.dropdown-success .dropdown-content li span:hover
{
    background-color: #00c851;
}

.dropdown-success .search-wrap input:focus
{
    border-bottom: 1px solid #00c851;
    -webkit-box-shadow: 0 1px 0 0 #00c851;
            box-shadow: 0 1px 0 0 #00c851;
}

.dropdown-info .dropdown-content li.active,
.dropdown-info .dropdown-content li a,
.dropdown-info .dropdown-content li span:hover
{
    background-color: #33b5e5;
}

.dropdown-info .search-wrap input:focus
{
    border-bottom: 1px solid #33b5e5;
    -webkit-box-shadow: 0 1px 0 0 #33b5e5;
            box-shadow: 0 1px 0 0 #33b5e5;
}

.dropdown-warning .dropdown-content li.active,
.dropdown-warning .dropdown-content li a,
.dropdown-warning .dropdown-content li span:hover
{
    background-color: #fb3;
}

.dropdown-warning .search-wrap input:focus
{
    border-bottom: 1px solid #fb3;
    -webkit-box-shadow: 0 1px 0 0 #fb3;
            box-shadow: 0 1px 0 0 #fb3;
}

.dropdown-dark .dropdown-content li.active,
.dropdown-dark .dropdown-content li a,
.dropdown-dark .dropdown-content li span:hover
{
    background-color: #2e2e2e;
}

.dropdown-dark .search-wrap input:focus
{
    border-bottom: 1px solid #2e2e2e;
    -webkit-box-shadow: 0 1px 0 0 #2e2e2e;
            box-shadow: 0 1px 0 0 #2e2e2e;
}

.dropdown-ins .dropdown-content li.active,
.dropdown-ins .dropdown-content li a,
.dropdown-ins .dropdown-content li span:hover
{
    background-color: #2e5e86;
}

.dropdown-ins .search-wrap input:focus
{
    border-bottom: 1px solid #2e5e86;
    -webkit-box-shadow: 0 1px 0 0 #2e5e86;
            box-shadow: 0 1px 0 0 #2e5e86;
}

.dropdown-menu.animated
{
    /* Speed up animations */
    -webkit-animation-duration: .55s;
            animation-duration: .55s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
}


.picker__header select
{
    display: inline-block !important;
}
nav.fill ul li a
{
    position: relative;
}

nav.fill ul li a:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 0;
    height: 1px;
    margin: auto;

    content: '.';

    color: transparent;
    background: #aaa;
}
nav.fill ul li a
{
    transition: all 2s;
}

nav.fill ul li a:after
{
    margin: 0;

    content: '.';
    text-align: left;

    opacity: 0;
}
nav.fill ul li a:hover
{
    z-index: 1;

    color: #fff;
}
nav.fill ul li a:hover:after
{
    z-index: -10;

    -webkit-animation: fill 1s forwards;
       -moz-animation: fill 1s forwards;
            animation: fill 1s forwards;

    opacity: 1;
}

@-webkit-keyframes fill
{
    0%
    {
        width: 0;
        height: 1px;
    }
    50%
    {
        width: 100%;
        height: 1px;
    }
    100%
    {
        width: 100%;
        height: 100%;

        background: #333;
    }
}

.cj-footer
{
    height: 15%;
}

.mdl-data-table
{
    font-size: 13px;

    position: relative;

    border-collapse: collapse;

    white-space: nowrap;

    border: 1px solid rgba(0, 0, 0, .12);
    background-color: rgb(255,255,255);
}
.mdl-data-table thead
{
    padding-bottom: 3px;
}
.mdl-data-table thead .mdl-data-table__select
{
    margin-top: 0;
}
.mdl-data-table tbody tr
{
    position: relative;

    height: 48px;

    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .28s;
    transition-property: background-color;
}
.mdl-data-table tbody tr.is-selected
{
    background-color: #e0e0e0;
}
.mdl-data-table tbody tr:hover
{
    background-color: #eee;
}
.mdl-data-table td,
.mdl-data-table th
{
    padding: 0 18px 12px 18px;

    text-align: right;
}
.mdl-data-table td:first-of-type,
.mdl-data-table th:first-of-type
{
    padding-left: 24px;
}
.mdl-data-table td:last-of-type,
.mdl-data-table th:last-of-type
{
    padding-right: 24px;
}
.mdl-data-table td
{
    position: relative;

    box-sizing: border-box; 
    height: 48px;
    padding-top: 12px;

    vertical-align: middle;

    border-top: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}
.mdl-data-table td .mdl-data-table__select
{
    vertical-align: middle;
}
.mdl-data-table th
{
    font-size: 14px;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;

    position: relative;

    box-sizing: border-box; 
    height: 48px;
    padding-bottom: 8px;

    vertical-align: bottom;
    letter-spacing: 0;
    text-overflow: ellipsis;

    color: rgba(0, 0, 0, .54);
}
.mdl-data-table th.mdl-data-table__header--sorted-ascending,
.mdl-data-table th.mdl-data-table__header--sorted-descending
{
    color: rgba(0, 0, 0, .87);
}
.mdl-data-table th.mdl-data-table__header--sorted-ascending:before,
.mdl-data-table th.mdl-data-table__header--sorted-descending:before
{
    font-family: 'Material Icons';
    font-size: 24px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    display: inline-block;

    margin-right: 5px;

    content: '\e5d8';
    vertical-align: sub; 
    letter-spacing: normal;
    text-transform: none;
    word-wrap: normal;

       -moz-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.mdl-data-table th.mdl-data-table__header--sorted-ascending:hover,
.mdl-data-table th.mdl-data-table__header--sorted-descending:hover
{
    cursor: pointer;
}
.mdl-data-table th.mdl-data-table__header--sorted-ascending:hover:before,
.mdl-data-table th.mdl-data-table__header--sorted-descending:hover:before
{
    color: rgba(0, 0, 0, .26);
}
.mdl-data-table th.mdl-data-table__header--sorted-descending:before
{
    content: '\e5db';
}
.mdl-data-table__select
{
    width: 16px;
}
.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric
{
    text-align: left;
}


footer.page-footer
{
    margin-top: 20px;
    padding-top: 20px;

    color: #fff; 
    background-color: #4285f4;
}
footer.page-footer .container-fluid
{
    width: auto;
}
footer.page-footer .footer-copyright
{
    font-size: .9rem; 
    line-height: 50px;

    overflow: hidden;

    height: 50px;

    text-align: center;

    color: rgba(255, 255, 255, .6);
    background-color: rgba(0, 0, 0, .2);
}
footer.page-footer a
{
    color: #fff;
}
footer.page-footer .title
{
    text-transform: uppercase;
}
footer.page-footer .call-to-action
{
    padding-top: 1.3rem;
    padding-bottom: .5rem; 

    text-align: center;
}
footer.page-footer .call-to-action ul li
{
    display: inline-block;

    padding-right: 10px;
}
footer.page-footer .social-section ul li
{
    display: inline-block;
}
footer.page-footer .social-section ul a
{
    margin-left: 0;
    padding-left: 0;
}
footer.page-footer ul
{
    padding: 0; 

    list-style-type: none;
}
